@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* This is consistent CSS */

.navBar {
  height: 60px;
  background-color: white;
}
.logoImg {
  margin-top: 0px;
  width: 100px;
}
.Nav {
  color: black;
  font-family: "Lato", sans-serif;
  margin-right: 7px;
}
.username {
  border-style: ridge;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 2.25em;
  width: 15em;
  margin-right: 15px;
}
.password {
  border-style: ridge;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 2.25em;
  margin-right: 15px;
}
.username:focus {
  box-shadow: 0 0 8px 0pt lightblue;
  outline: none;
}
.password:focus {
  box-shadow: 0 0 8px 0pt lightblue;
  outline: none;
}
.signBtn {
  color: white;
  margin: auto;
  padding-bottom: 15px;
}
.Btn {
  position: relative;
  width: 150px;
  height: 45px;
}
.Sign {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 5px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 765px) {
  .logoImg {
    margin-top: -5px;
  }
  .navbar-collapse {
    background-color: rgb(252, 252, 252);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    border-radius: 5px;
  }
  .Nav {
    margin: auto;
  }
  .Nav {
    color: white;
  }
  .collapse-line {
    color: gray;
    border: 1spx solid lightgray;
    justify-self: center;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .password {
    border-style: ridge;
    border-radius: 5px;
    height: 2.7em;
    margin: auto;
    margin-bottom: 30px;
    width: 80%;
  }
  .username {
    border-style: ridge;
    border-radius: 5px;
    height: 2.7em;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
  }
  .username:focus {
    box-shadow: 0 0 8px 0pt rgba(0, 0, 0, 0.377);
    outline: none;
  }
  .password:focus {
    box-shadow: 0 0 8px 0pt rgba(0, 0, 0, 0.377);
    outline: none;
  }
}

/* This is Home Page CSS */

.container {
  height: 1500px;
}
.outline {
  width: 100%;
  left: 0;
  position: absolute;
  display: inline-block;
  z-index: 1;
}
.carousel {
  margin-top: 100px;
}
.carousel.img {
  z-index: -1;
}
.footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
  background-color: blue;
}

/* This is Register Page CSS */

.signLog {
  margin-top: 190px;
  margin-left: 150px;
  margin-right: 150px;
}
.line {
  border-left: 6px solid gray;
  height: 200px;
}

/* This is Pricing Page CSS */

.card {
  background-color: white;
  margin-top: 150px;
  border-color: lightskyblue;
}
.pricing-title {
  position: relative;
  font-size: 55px;
  margin: 0px 150px 0px 0px;
  text-align: center;
}
.accessbul-one {
  color: orange;
  font-size: 20px;
  margin-bottom: 30px;
}
.accessbul-two {
  margin-bottom: 70px;
}
.accessbul-three {
  font-size: 20px;
  margin-bottom: 30px;
  color: gray;
}

/* --- */ ;
