.navBar {
  height: 60px;
  background-color: rgb(20, 20, 20);
}
.logoImg {
  position: relative;
  width: 110px;
}
.nav-contain {
  position: relative;
  margin: auto;
  right: 58px;
}
.Nav {
  position: relative;
  color: rgb(231, 231, 231);
  font-family: "Lato", sans-serif;
  margin-left: 10px;
}
.Nav:hover {
  text-decoration: none;
  color: lightgray;
}
.dashboard-link {
  cursor: pointer;
  background-color: transparent;
  border-style: none;
}
.sign-btn {
  background-color: #cd402a;
  position: absolute;
  width: 130px;
  height: 40px;
  border: 0;
  border-radius: 30px;
}
.sign-btn:hover {
  background-color: #c42e17;
}
.btn-txt {
  position: relative;
  color: white;
  font-size: 20px;
}
.profile-btn {
  display: flex;
  position: absolute;
  width: auto;
  height: 35px;
  margin-left: 30px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(48, 48, 48);
  transition: background-color 200ms;
}
.profile-btn:hover {
  background-color: rgb(59, 59, 59);
}
.sub-crown {
  position: absolute;
  width: 20px;
  height: auto;
  top: -9px;
  left: -1.7px;
  right: 0;
  transform: rotate(-10deg);
}
.profile-img {
  position: absolute;
  width: 30px;
  height: auto;
  margin-left: 5px;
  margin-top: 2px;
  border-radius: 50%;
}
.profile-name {
  font-size: 25px;
  font-family: sans-serif;
  margin: auto;
  margin-left: 40px;
  margin-right: 10px;
  margin-bottom: 3px;
  color: rgb(209, 209, 209);
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 0;
}
::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20);
}
::-webkit-scrollbar-thumb {
  background-color: #cd402a;
  border-radius: 60px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #c43722;
}

@media (max-width: 991px) {
  .logoImg {
    margin-top: 0px;
  }
  .collapse {
    position: relative;
    top: 15px;
  }
  .toggle {
    position: relative;
    margin-bottom: 10px;
    border: 0;
  }
  .toggle:enabled {
    position: relative;
    margin-top: 5px;
    color: lightgray;
  }
  .Nav {
    color: black;
    margin-right: 0;
  }
  .navbar-collapse {
    background-color: rgb(252, 252, 252);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    border-radius: 5px;
  }
  .collapse-line {
    color: gray;
    border: 1px solid lightgray;
    border-radius: 40%;
    justify-self: center;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .username {
    border-style: solid;
    border-radius: 5px;
    height: 2.7em;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
  }
  .password {
    border-style: solid;
    border-radius: 5px;
    height: 2.7em;
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
  }
  .username:focus {
    box-shadow: 0 0 4px 0pt rgba(0, 0, 0, 0.377);
    outline: none;
  }
  .password:focus {
    box-shadow: 0 0 4px 0pt rgba(0, 0, 0, 0.377);
    outline: none;
    border-color: rgb(174, 224, 255);
  }
}
.footer {
  position: relative;
  height: 180px;
  width: 100%;
  left: -5px;
  margin-top: 50px;
}
.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a.footer-link {
  position: relative;
  color: gray;
  top: 10px;
}
a.footer-link:hover {
  color: rgb(66, 66, 66);
  text-decoration: none;
}
.footer-100 {
  position: relative;
  height: 100px;
  width: 100%;
  left: 30px;
  margin-top: 90px;
  top: 40px;
}
.footer-back {
  position: absolute;
  height: 200px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 5px 10px rgb(219, 219, 219);
}
