.cards {
  max-width: 1200px;
  margin: auto;
}
.card {
  position: relative;
  background-color: white;
  margin-top: 130px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(226, 226, 226);
  transition: margin-top 500ms;
}
.middle-card {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 0 0;
}
.middle-card-contain {
  box-shadow: 0 0 12px 0 rgb(199, 199, 199);
  border-radius: 10px;
}
.best-seller-contain {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -32px;
  top: 2px;
  border-radius: 10px 10px 0 0;
  background-color: rgb(40, 40, 255);
}
.best-seller-text {
  position: relative;
  top: 2px;
  left: 3px;
  color: white;
}
.pricing-title {
  position: relative;
  font-size: 55px;
  text-align: start;
}
.accessbul-one {
  color: orange;
  font-size: 20px;
  margin-bottom: 30px;
}
.accessbul-two {
  margin-bottom: 70px;
}
.accessbul-three {
  font-size: 20px;
  margin-bottom: 30px;
  color: gray;
}
.choose-btn {
  position: relative;
  height: 40px;
  margin-right: 0;
  background-color: rgb(40, 40, 255);
}
.choose-btn-txt {
  position: relative;
  font-size: 20px;
  color: white;
}

@media (max-width: 765px) {
  .pricing-cards {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
  }
  .pricing {
    margin-top: 10px;
  }
}
