.email-alert {
  position: relative;
  top: 130px;
  left: 10px;
  margin: auto;
  margin-bottom: 50px;
  height: 90px;
  width: 399px;
  text-align: center;
  box-shadow: 0 0 7px 0 rgb(216, 216, 216);
  transition: top 1.5s, left 1s, width 1s;
}
.alert-head {
  position: relative;
}
.alert-line {
  color: rgba(173, 216, 230, 0.199);
  width: 80px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.alert-p {
  margin-bottom: 30px;
}
.form-container {
  max-width: 1300px;
  margin: auto;
}
.form-line {
  border-left: 2px solid lightgray;
  height: 500px;
  right: 10px;
  top: -30px;
  position: relative;
}
.sign-div {
  margin-right: 20px;
}
.signLog {
  margin-top: 190px;
  margin-left: 60px;
  margin-right: 60px;
  transition: margin-top 1s;
}
.form:focus {
  box-shadow: 0 0 4px 0pt lightblue;
  border-color: rgb(174, 224, 255);
}
.form::placeholder {
  color: rgb(199, 199, 199);
  font-size: 18px;
}
.sign-log-btn {
  margin-bottom: 40px;
}
.box {
  margin-left: 4px;
}
.confirm-alert {
  display: flex;
  background-color: rgb(255, 106, 106);
  height: 55px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  line-height: 30px;
  margin-bottom: 10px;
}
.exclamation {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 5px;
  background-color: rgb(224, 96, 96);
  height: 55px;
  width: 35px;
  border-radius: 5px 0 0 5px;
}
.ex-text {
  font-size: 50px;
  margin-top: 3px;
}
.con-alert-text2 {
  font-size: 18px;
  line-height: 10px;
  margin-top: 9px;
  margin-left: 50px;
}
.con-alert-text3 {
  font-size: 13px;
  margin-left: 14px;
}
.taken-alert {
  display: flex;
  position: relative;
  height: 50px;
  width: 300px;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: rgb(255, 106, 106);
}
.taken-alert-text {
  position: relative;
  left: 10px;
  top: 2px;
}
.taken-alert-ex {
  display: flex;
  position: relative;
  height: 100%;
  width: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0 0 5px;
  background-color: rgb(224, 96, 96);
}
.taken-ex-text {
  font-size: 40px;
  margin-top: 5px;
}
.wrg-pass {
  display: flex;
  position: relative;
  height: 40px;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(255, 106, 106);
}
.wrg-pass-text {
  position: relative;
  margin-left: 10px;
  margin-top: 3px;
}
.wrg-ex-contain {
  display: flex;
  height: 100%;
  width: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
  background-color: rgb(224, 96, 96);
}
.wrg-ex {
  font-size: 30px;
  margin-top: 3px;
}
.created-alert {
  position: relative;
  height: 100px;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: -30px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px gray;
  background-color: lightgreen;
}
.created-alert-text1 {
  position: relative;
  top: 16px;
}
.created-alert-text2 {
  position: relative;
  line-height: 30px;
  top: 10px;
}

@media (max-width: 767px) {
  .signLog {
    margin-top: 110px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .form-line {
    position: absolute;
    visibility: hidden;
  }
  .email-alert {
    position: relative;
    top: 100px;
    margin-bottom: 50px;
    left: 2px;
    height: 90px;
    width: 399px;
  }
}
