.sign-log-contain {
  position: relative;
  width: 600px;
  height: auto;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 gray;
}
.sign-log-group {
  position: relative;
  margin-top: 200px;
}
.register-title-contain {
  text-align: center;
}
.register-title {
  position: relative;
  margin-top: 20px;
}
.log-title-contain {
  text-align: center;
}
.switch-btn-contain {
  position: relative;
  width: 200px;
  margin-top: -50px;
  margin-left: 350px;
}
.register-switch {
  position: relative;
  margin-left: 326px;
}
.switch-btn {
  border-color: #ff5035;
  border-width: 2px;
}
.switch-btn:hover {
  background-color: rgb(230, 230, 230);
}
.switch-text {
  position: relative;
  top: 2px;
  font-size: 20px;
}
.email-alert {
  position: relative;
  top: 130px;
  left: 10px;
  margin: auto;
  margin-bottom: 50px;
  height: 90px;
  width: 399px;
  text-align: center;
  box-shadow: 0 0 7px 0 rgb(216, 216, 216);
  transition: top 1.5s, left 1s, width 1s;
}
.alert-head {
  position: relative;
}
.alert-p {
  margin-bottom: 30px;
}
.sign-log {
  position: relative;
  top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  transition: margin-top 1s;
}
.form:focus {
  box-shadow: 0 0 4px 0pt lightblue;
  border-color: rgb(174, 224, 255);
}
.form::placeholder {
  color: rgb(199, 199, 199);
  font-size: 18px;
}
.sign-log-btn {
  position: relative;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 200px;
  background-color: #cd402a;
}
.sign-log-btn:hover {
  background-color: #ce240a;
}
.register-btn {
  text-align: center;
}
.log-btn-contain {
  text-align: center;
}
.log-btn {
  margin-top: 15px;
  margin-bottom: 60px;
}
.log-btn-text {
  position: relative;
  top: 2px;
}
.long-error-contain {
  text-align: center;
  width: 400px;
  height: 80px;
  margin: auto;
  border-radius: 5px;
  box-shadow: inset 0 0 10px 0 rgb(197, 38, 38);
  background-color: rgb(255, 106, 106);
}
.long-error-title {
  position: relative;
  top: 5px;
  font-size: 30px;
}
.long-error-info {
  position: relative;
  top: 5px;
  font-size: 17px;
}
.box {
  margin-left: 4px;
}
.confirm-alert {
  display: flex;
  background-color: rgb(255, 106, 106);
  height: 55px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  line-height: 30px;
  margin-bottom: 10px;
}
.exclamation {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgb(224, 96, 96);
  height: 55px;
  width: 35px;
  border-radius: 5px 0 0 5px;
}
.ex-text {
  font-size: 50px;
  margin-top: 3px;
}
.con-alert-text2 {
  font-size: 18px;
  line-height: 10px;
  margin-top: 9px;
  margin-left: 50px;
}
.con-alert-text3 {
  font-size: 13px;
  margin-left: 14px;
}
.empty-error-contain {
  position: relative;
  height: 50px;
  width: 310px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(255, 106, 106);
}
.empty-error-text {
  position: relative;
  top: 8px;
  left: 10px;
}
.empty-error-excl-contain {
  position: absolute;
  height: 100%;
  width: 30px;
  border-radius: 5px 0 0 5px;
  background-color: rgb(224, 96, 96);
}
.empty-error-excl {
  font-size: 40px;
}
.taken-alert {
  display: flex;
  position: relative;
  height: 50px;
  width: 300px;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: rgb(255, 106, 106);
}
.taken-alert-text {
  position: relative;
  left: 10px;
  top: 2px;
}
.taken-alert-ex {
  display: flex;
  position: relative;
  height: 100%;
  width: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0 0 5px;
  background-color: rgb(224, 96, 96);
}
.taken-ex-text {
  font-size: 40px;
  margin-top: 5px;
}
.wrg-pass {
  display: flex;
  position: relative;
  height: 40px;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(255, 106, 106);
}
.wrg-pass-text {
  position: relative;
  margin-left: 10px;
  margin-top: 3px;
}
.wrg-ex-contain {
  display: flex;
  height: 100%;
  width: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
  background-color: rgb(224, 96, 96);
}
.wrg-ex {
  font-size: 30px;
  margin-top: 3px;
}
.space-error-contain {
  position: relative;
  width: 550px;
  height: 50px;
  left: -34px;
  margin: auto;
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(255, 106, 106);
}
.space-error-text {
  position: relative;
  top: 10px;
  font-size: 22px;
}
.space-error-excl-contain {
  position: absolute;
  height: 100%;
  width: 25px;
  border-radius: 5px 0 0 5px;
  background-color: rgb(224, 96, 96);
}
.space-error-excl {
  position: relative;
  font-size: 40px;
}
.created-alert {
  position: relative;
  height: 100px;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: -30px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px gray;
  background-color: lightgreen;
}
.created-alert-text1 {
  position: relative;
  top: 16px;
}
.created-alert-text2 {
  position: relative;
  line-height: 30px;
  top: 10px;
}

@media (max-width: 767px) {
  .signLog {
    margin-top: 110px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .form-line {
    position: absolute;
    visibility: hidden;
  }
  .email-alert {
    position: relative;
    top: 100px;
    margin-bottom: 50px;
    left: 2px;
    height: 90px;
    width: 399px;
  }
}
